body {
    background-color: black;
    
}
#movie-backdrop {
    width: 100%;
}

/* .container {
    padding-top: 32px;
} */

#actors {
    margin: 24px 16px 0 0;
}

#movieDivCard {
    width: 350px;
    margin: 2rem 0;
}

#movieCards {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#movieCards:hover {
    cursor: pointer;
}
    

#movieCards:hover #movieOverview  {
    transform: translateY(0);
}

#movieOverview {
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
    background-color:white;
    padding: 1rem;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
