body {
    background-color: black;
}

#movie-backdrop {
    width: 100%;
}

/* .container {
    padding-top: 32px;
} */

#movieDivCard{
    cursor:pointer;
    transition: 0.2s;   
}
#movieCards span {
    background: transparent;
    width: 25%;
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 0;
}

#movieDivCard:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in;  
}
/* .container {
    padding-top: 32px;
} */
#single-movie-card{
    width: 25vh;
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0 0; 
    cursor: pointer; 
    transition: 0.2s;
}

#single-movie-card:hover{
    background-color: #f3f3f3;
    transform: scale(1.05);
    transition-timing-function: ease-in;
    opacity: 0.8;
}

#single-movie-card img{
    border-radius: 5px;
}

#single-movie-card p{
    font-size: x-large;
}

#actors-cards {
    width: 25vh;
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0 0;
    cursor: pointer;
    transition: 0.2s;
}

#actors-cards:hover{
    background-color: #f3f3f3;
    transform: scale(1.05);
    transition-timing-function: ease-in;
    opacity: 0.7;
}

#actorDivCard{
    cursor:pointer;
    transition: 0.2s; 
}

#actorDivCard:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in;    
}

#actors-cards img {
    border-radius: 5px;
}
#actors-cards p{
    font-size: x-large;
}
#movie-backdrop{
    width: 90%;
    border-radius: 20px;
}
#movie-credit{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}
#actors{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#movieDivCard {
    width: 350px;
    margin: 2rem 0;
}

#movieCards {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#movieCards:hover {
    cursor: pointer;
}
    

#movieCards:hover #movieOverview  {
    transform: translateY(0);
}

#movieOverview {
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
    background-color:white;
    padding: 1rem;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
#about-page {
    color: white;
    text-align: left;
    font-size: medium;
    background-image: url(aboutpage.png);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin:0;
 
}
#about-page div {
    width: 50%;
}
@media screen and (max-width:768px) {
    #about-page {
        background-image: url("#");
        align-items:center;
        height: 100%;
        width: 80%;
        
    }
    #about-page div {
        width: 100%;
    }
}